/* The container - needed to position the currency header dropdown content */
.currency-header {
  position: relative;
  display: block;
  padding: 10px 0px;
}
.currency-header-hamburg {
  position: relative;
  display: block;
  padding-left: 10px;
}

/* The container - needed to position the language header dropdown content */
.language-header {
  position: relative;
  display: block;
  min-width: 24px;
  padding: 10px 0px;
}
.language-header-hamburg {
  position: relative;
  display: block;
  min-width: 24px;
}

 /* Dropdown Button */
.curbtn {
  display: contents;
  background-color: white;
  color: black;
  border: none;
  padding: 10px 0px;
}

 /* Dropdown Button */
.lanbtn {
  display: contents;
  background-color: white;
  color: black;
  border: none;
  padding: 10px 0px;
}

/* Dropdown Content (Hidden by Default) */
.currency-header-content {
  display: none;
  position: absolute;
  background-color: #fff8dc;
  min-width: 24px;
  z-index: 1;
}

/* Dropdown Content (Hidden by Default) */
.language-header-content {
  display: none;
  position: absolute;
  background-color: #fff8dc;
  min-width: 24px;
  z-index: 1;
}

/* Links inside the dropdown */
.currency-header-content a {
  color: black;
  text-decoration: none;
  display: block;
}

/* Links inside the dropdown */
.language-header-content a {
  color: black;
  padding: 5px 0px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.currency-header-content a:hover {background-color: #faebd7;}
/* Change color of dropdown links on hover */
.language-header-content a:hover {background-color: #faebd7;}

/* Show the dropdown menu on hover */
.currency-header:hover .currency-header-content {display: block;}
.currency-header-hamburg:hover .currency-header-content {display: block;}
/* Show the dropdown menu on hover */
.language-header:hover .language-header-content {display: block;}
.language-header-hamburg:hover .language-header-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.currency-header:hover .curbtn {opacity: 60%;} 
.currency-header-hamburg:hover .curbtn {opacity: 60%;} 
/* Change the background color of the dropdown button when the dropdown content is shown */
.language-header:hover .lanbtn {opacity: 60%;}
.language-header-hamburg:hover .lanbtn {opacity: 60%;} 